@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    color:#000;
}

header{
    background-color: #fff;
    padding: 1rem 10rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
    text-transform: uppercase;
    gap: 2rem;
}

nav ul li:hover{
    font-weight: 700;
}

ul li a {
    text-decoration: none;
    text-decoration-color:none;
}

.botao {
    border: none;
    background-color: #F0C66F;
    border-radius: 5%;
    padding: 1em 2em;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.botao:hover{
    background-color: #AF7EA3;
    color: #fff;
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('Assets/image1.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-origin: padding-box;
    width: 100vw;
    height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

#hero h1 {
    font-size: 72px;
    font-weight: 700;
}
#hero h3 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.28px;
}

footer {
    margin-top: auto;
    
    background-color: #fff;
    color: black;
    font-size: small;

    flex: 1;
    height: 8rem;
    padding: 5rem 10rem;

    display:flex;
    align-items: center;
    justify-content: center;
    
    gap: 1.5rem;
}

ul li:hover {
    color:#F0C66F
}

.informacoesAdd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: 1;
}

footer figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.icon {
    display: flex;
    gap: 1em;

}
.icon svg {
    color:#AF7EA3
}