@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#000;
}

header{
    background-color: #fff;
    padding: 1rem 10rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
    text-transform: uppercase;
    gap: 2rem;
}

nav ul li:hover{
    font-weight: 700;
}

ul li a {
    text-decoration: none;
    color: #000;
    letter-spacing: 0.3rem;
}

.botao {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    background: #F0C66F;
    background: -webkit-linear-gradient(to right, #E87461, #F0C66F);
    background: linear-gradient(to left, #E87461, #F0C66F);
    
    padding: 1rem 2rem;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.botao:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('Assets/image1.jpg');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: right;
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    -webkit-animation: zoom 10s linear;
    animation: zoomin 5s linear;
    animation-fill-mode: forwards;
    background-origin: center;
    
    width: 100vw;
    height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    animation: zoom 20s;
}
@keyframes zoom {
    0%{
        background-size: 150%        ;
    }
    100% {
        background-size: 100%;
    }
}

#hero h1 {
    font-size: 72px;
    font-weight: 700;
}
#hero h3 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.3rem;
}

footer {
    margin-top: auto;
    
    background-color: #fff;
    color: black;
    font-size: small;

    flex: 1;
    height: 8rem;
    padding: 5rem 10rem;

    display:flex;
    align-items: center;
    justify-content: center;
    
    gap: 1.5rem;
}

ul li:hover {
    color:#F0C66F;
}

.informacoesAdd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: 1;
}

footer figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.icon {
    display: flex;
    gap: 1em;

}
.icon svg {
    color:#AF7EA3
}

